$label-height : 35px;

body { font-family: 'Source Sans Pro', sans-serif; }

.tabs {
	display:flex; 
	flex-direction:row; 
	position:relative;
	min-width:320px;
  max-width:600px;

  & * { 
    box-sizing: border-box;
  }

	label {

    width: calc(100%/3);
		height:$label-height;
    border-right:1px solid #666;
    &:last-child {
      border-right:0;
      input[type="radio"] + span {
        border-radius:0 5px 0 0;
      }
    }
    &:first-child input[type="radio"] + span {
      border-radius:5px 0 0 0;
    }
	}
	input[type="radio"] {

		position:absolute;
    padding: 0;
    margin: 0;
		opacity: 0;
		z-index: 1;

    & + span {
      // tab
      display: block;
      text-align: center;
      width: 100%;
      height: $label-height; 
      background-color:#999;
      padding:8px 20px;

      & + div { 
        //content
        display: none;
        background-color:#ccc;
        position:absolute;
        left:0;
        top:$label-height;
        width: 100%;
        min-height: 100px;
        padding:15px 20px;

        p { margin-top: 0; padding-top: 0; }
      }
    }

		&:checked {
      //selected tab
			& + span {
				background-color:#ccc;
        font-weight: 600;
				& + div { 
          display: block;
					background-color:#ccc;
					z-index: 3;
          border-radius:0 0 5px 5px;
				}
			}

    } //checked
	} //input
}