.tabs {
	// display:flex; 
	// flex-direction:row; 
	input[type="radio"] {
		position:absolute;
		z-index: 3;
		& + label { 
		&:after {
			content: '';
			display: inline-block;
			position: relative;
			border:1px solid red;
			width:150px;
			height:30px;
			// z-index: 2;
			background-color: none;
		}
	}
	}
}