.tabs {
	display:flex; 
	flex-direction:row; 
	position:relative;
	max-width:300px;

	label {
		border:1px solid red;
		width:150px;
		height:30px;
	}
	input[type="radio"] {

		position:absolute;
		//	opacity: 0;
		z-index: 1;

		& + div { 
			min-height: 300px;
			width: 100%;
			background-color:blue;
			position:absolute;
			left:0;
			z-index: 2;
		}

		&:checked {
			& + div { 
				background-color:red;
				position:absolute;
				z-index: 3;
			}
		}

		// &:after {
		// 	content: '';
		// 	display: inline-block;
		// 	position: relative;
		// 	border:1px solid red;
		// 	width:150px;
		// 	height:30px;
		// 	// z-index: 2;
		// 	background-color: none;
		// }
	}
}